# Radarr configuration (leave URL empty to disable Radarr-functionality, comma seperated for multutiple servers)
RADARR_URL=http://localhost:7878,http://otherhost:7878
RADARR_API_KEY=aaaabbbbcccc111122223333,xxxxyyyyzzzz777788889999

# Sonarr configuration (leave URL empty to disable Sonarr-functionality, comma seperated for multutiple servers)
SONARR_URL=http://localhost:8989,http://otherhost:8989
SONARR_API_KEY=aaaabbbbcccc111122223333,xxxxyyyyzzzz777788889999

# Lidarr configuration (leave URL empty to disable Lidarr-functionality, comma seperated for multutiple servers)
LIDARR_URL=http://localhost:8686,http://otherhost:8686
LIDARR_API_KEY=aaaabbbbcccc111122223333,xxxxyyyyzzzz777788889999

# Readarr configuration (leave URL empty to disable Readarr-functionality, comma seperated for multutiple servers)
READARR_URL=http://localhost:8787,http://otherhost:8787
READARR_API_KEY=aaaabbbbcccc111122223333,xxxxyyyyzzzz777788889999

# Script configuration
STALLED_TIMEOUT=3600                           # How long a download should be stalled before handling it (in seconds)
STALLED_ACTION=BLOCKLIST_AND_SEARCH            # Options: REMOVE or BLOCKLIST or BLOCKLIST_AND_SEARCH
VERBOSE=false                                  # Enable verbose/debug logging
RUN_INTERVAL=300                               # How often should the script be run (in seconds)
COUNT_DOWNLOADING_METADATA_AS_STALLED=false    # If it should count downloads with the "Downloading Metadata" as stalled